.cards {
  margin-top: 20px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  column-gap: 20px;
  row-gap: 40px;
  border-bottom: 1px solid #21212166;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .cards {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
