.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid #21212166;
  width: 100%;
}

.profile__picture {
  border-radius: 8px;
}

.profile__text {
  margin: 0;
  margin-left: 20px;
  width: 30%;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__header {
  margin: 0 0 12px;
  font-size: 32px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.profile__footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.profile__edit {
  display: flex;
  width: fit-content;
  opacity: 0.6;
  transition: opacity 200ms ease;
}

.profile__edit:hover {
  opacity: 1;
}

.profile__edit-logo {
  margin: 0 8px 0 0;
}

.profile__edit-text {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #212121;
}

.profile__new-post {
  margin: 0;
  background-color: #212121;
  margin-left: auto;
  padding: 4px 32px;
  border-radius: 8px;
  display: flex;
  margin-top: auto;
  transition: background 200ms ease;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #fcf5e5;
}

.profile__new-post:hover {
  background-color: #212121cc;
}

.profile__new-post-plus {
  margin: 0 8px 0 0;
}

@media screen and (max-width: 912px) {
  .profile__header {
    font-size: 28px;
  }
}

@media screen and (max-width: 796px) {
  .profile__header {
    font-size: 24px;
  }
}

@media screen and (max-width: 690px) {
  .profile__header {
    font-size: 20px;
  }
}

@media screen and (max-width: 630px) {
  .profile {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile__picture {
    width: 30%;
    margin: 0 auto;
  }

  .profile__text {
    width: 100%;
  }

  .profile__header {
    margin-top: 12px;
    font-size: 32px;
  }

  .profile__description {
    margin-top: 6px;
  }

  .profile__edit {
    justify-content: center;
    margin: 32px auto 0;
  }

  .profile__new-post {
    margin-left: 0;
    margin-top: 20px;
    justify-content: center;
    align-self: stretch;
  }
}

@media screen and (max-width: 500px) {
  .profile__header {
    font-size: 28px;
  }
}

@media screen and (max-width: 440px) {
  .profile__header {
    font-size: 24px;
  }
}

@media screen and (max-width: 440px) {
  .profile__header {
    font-size: 24px;
  }
}

@media screen and (max-width: 340px) {
  .profile__header {
    font-size: 20px;
  }
}
